<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex">
                        <h6 class="text-white text-capitalize ps-3">Vehicles Table</h6>
                        <div ngbDropdown class="" *ngIf="categories">
                            <button type="button" class="btn mt-n2" id="dropdown1" ngbDropdownToggle>Select
                                Category</button>
                            <div ngbDropdownMenu aria-labelledby="dropdown1">
                                <!-- items as buttons -->
                                <button ngbDropdownItem (click)="getAllVehicles()">All</button>
                                <button ngbDropdownItem *ngFor="let cateogry of categories"
                                    (click)="getVehilclesByCategory(cateogry.id)">{{cateogry.typeVehicle}}</button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Info
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Model</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Daily Price</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Available</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        model</th>
                                    <th class="text-secondary opacity-7"></th>

                                </tr>
                            </thead>
                            <tbody *ngIf="vehicles">
                                <tr *ngFor="let vehicle of vehicles;let i = index">

                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div *ngIf="vehicle.urls">
                                                <img *ngIf="vehicle.urls" [src]="vehicle.urls[0]"
                                                    class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{vehicle.title}}</h6>
                                                <div class="d-flex">
                                                    <p class="text-ls h4 text-secondary mb-0 "><a
                                                            (click)="openImageModal(imageModal,vehicle.id)">+</a></p>
                                                    <p class="text-ls h4 text-secondary mb-0 ms-2"><a>-</a></p>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{vehicle.model}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{vehicle.dailyPrice|currency}}
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm "
                                            [ngClass]="vehicle.available==true?'bg-gradient-success':'bg-gradient-primary'">
                                            <span *ngIf="vehicle.available">Available</span>
                                            <span *ngIf="!  vehicle.available">unavailable</span>
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span
                                            class="text-secondary text-xs font-weight-bold">{{vehicle.model|date}}</span>
                                    </td>
                                    <td class="align-middle">
                                        <a (click)="open(vehicleModal,vehicle,i)"
                                            class="text-secondary font-weight-bold text-ls" data-toggle="tooltip">
                                            Edit &nbsp;&nbsp;&nbsp;&nbsp; |
                                        </a>
                                        <a class="text-danger font-weight-bold text-ls" data-toggle="tooltip"
                                            (click)="deleteCustomer(vehicle.id)">
                                            &nbsp;&nbsp;&nbsp;&nbsp;Delete
                                        </a>
                                        
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-template #vehicleModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> <span>Update Customer</span></h4>
    </div>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="model-body">
        <form [formGroup]="vehicleForm">
            <div class="mb-3">
                <label class="form-label">id</label>
                <input class="form-control" formControlName="id">
            </div>
            <div class="mb-3 ">
                <label class="form-label">title</label>
                <input class="form-control" formControlName="title">
            </div>
            <div class="mb-3 ">
                <label class="form-label">description</label>
                <input class="form-control" formControlName="description">
            </div>
            <div class="mb-3 ">
                <label class="form-label">dailyPrice</label>
                <input class="form-control" formControlName="dailyPrice">
            </div>
            <div class="mb-3 ">
                <label class="form-label">dateFirstCirculation</label>
                <input class="form-control" type="date" formControlName="dateFirstCirculation">
            </div>
            <div class="mb-3 ">
                <label class="form-label">nbrOfKm</label>
                <input class="form-control" formControlName="nbrOfKm">
            </div>
            <div class="mb-3 ">
                <label class="form-label">franchise</label>
                <input class="form-control" formControlName="franchise">
            </div>
            <div class="mb-3">
                <label class="form-label">model</label>
                <input class="form-control" formControlName="model">
            </div>
            <div class="mb-3">
                <label class="form-label">available</label>
                <input class="form-control" type="boolean" formControlName="available">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" href="/vehicles" class="btn btn-outline-dark"
            (click)="c('Save click');saveUpdate()">Save</button>
    </div>
</ng-template>


<ng-template #imageModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> <span>Add Image</span></h4>
    </div>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="model-body">
        <div class="mb-3">
            <label class="form-label mx-3">Image</label>
            <input type="file" (change)="changeImage($event)" id="">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"  class="btn btn-outline-dark"
            (click)="c('Save click');addImage()">Save</button>
    </div>
</ng-template>
