<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div
                        class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                        <div class="d-flex font-weight-bolder mx-2">
                            <h5 class="text-white text-capitalize ps-3">Vehicles Table</h5>
                            <div ngbDropdown class="" *ngIf="categories">
                                <button type="button" class="btn mt-n1" id="dropdown1" style="color:white"
                                    ngbDropdownToggle>Select
                                    Category</button>
                                <div ngbDropdownMenu aria-labelledby="dropdown1">
                                    <!-- items as buttons -->
                                    <button ngbDropdownItem (click)="getAllVehicles()">All</button>
                                    <button ngbDropdownItem *ngFor="let cateogry of categories"
                                        (click)="getVehilclesByCategory(cateogry.id)">{{cateogry.typeVehicle}}</button>
                                </div>
                            </div>
                        </div>
                        <a class="btn bg-gradient-dark mx-2 " (click)="open(addVehicleModel)">
                            <i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Vehicle
                        </a>
                    </div>


                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" *ngIf="vehicles; else loader">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                        Info
                                    </th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        Model</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        Daily Price</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        first circulation</th>
                                    <th
                                        class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        cateogry</th>
                                    <th
                                        class=" text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                        Available</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    </th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let vehicle of vehicles| slice: (page-1) * pageSize : page * pageSize;let i = index">

                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div *ngIf="vehicle.urls">
                                                <img *ngIf="vehicle.urls" [src]="vehicle.urls[0]"
                                                    class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{vehicle.title}}</h6>
                                                <div class="d-flex">
                                                    <p class="text-ls h4 text-secondary mb-0 "><a
                                                            (click)="openImageModal(imageModal,vehicle.id)">+</a></p>
                                                    <p class="text-ls h4 text-secondary mb-0 ms-2"><a>-</a></p>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{vehicle.model}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{vehicle.dailyPrice|currency}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{vehicle.dateFirstCirculation|date}}
                                        </p>
                                    </td>
                                    <td class="align-middle " *ngIf="vehicle.category">
                                        <span
                                            class="text-secondary text-xs font-weight-bold">{{vehicle.category.typeVehicle}}
                                        </span>
                                    </td>
                                    <td class="align-middle  text-sm">
                                        <span class="badge badge-sm "
                                            [ngClass]="vehicle.available==true?'bg-gradient-success':'bg-gradient-primary'">
                                            <span *ngIf="vehicle.available">Available</span>
                                            <span *ngIf="!vehicle.available">unavailable</span>
                                        </span>
                                    </td>
                                    <td class="align-middle ">
                                        <a class="btn btn-link text-dark px-3 mb-0"
                                            (click)="open(updateVehicleModel,vehicle,i)">
                                            <i class="material-icons text-sm me-2">edit</i>
                                        </a>
                                        <a class="btn btn-link text-danger text-gradient px-3 mb-0">
                                            <i class="material-icons text-sm me-2"
                                                (click)="deleteVehicle(vehicle.id)">delete</i>
                                        </a>
                                        <a class="align-middle   font-weight-bold text-ls" style="color:green"
                                            data-toggle="tooltip" [routerLink]="'/vehicles/'+vehicle.id">
                                            &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: large;">+</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col col-12 mx-auto d-flex justify-content-center">
    <ngb-pagination *ngIf="vehicles" [(page)]="page" [pageSize]="pageSize"
        [collectionSize]="vehicles.length"></ngb-pagination>

</div>

<!-- Start Update Vehicle Model -->
<ng-template #updateVehicleModel let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"> <span>Update Vehicle</span></h5>
        <a (click)="d('Cross click')"><i class="fa fa-window-close" aria-hidden="true"></i></a>
    </div>
    <div class="model-body">
        <form [formGroup]="vehicleForm">
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">id</label>
                <div class="col">
                    <input class="form-control" readonly formControlName="id">
                </div>

            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">title</label>
                <div class="col">
                    <input class="form-control" formControlName="title">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col">
                    <input class="form-control" formControlName="description">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Daily Price</label>
                <div class="col">
                    <input class="form-control" formControlName="dailyPrice">

                </div>

            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">First Circulation</label>
                <div class="col">
                    <input class="form-control" type="date" formControlName="dateFirstCirculation">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Number Of Km</label>
                <div class="col">
                    <input class="form-control" formControlName="nbrOfKm">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Franchise</label>
                <div class="col">
                    <input class="form-control" formControlName="franchise">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Model</label>
                <div class="col">
                    <input class="form-control" formControlName="model">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Office Id</label>
                <div class="col">
                    <input class="form-control" formControlName="officeId">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Category Id</label>
                <div class="col">
                    <input class="form-control" formControlName="categoryId">
                </div>
            </div>
            <div class="m-3 row form-check form-switch">
                <input class="form-check-input form-control" formControlName="available" type="checkbox" role="switch"
                    id="flexSwitchCheckDefault">
                <label class="form-check-label " for="flexSwitchCheckDefault">Check Availability </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" href="/vehicles" class="btn btn-outline-dark"
            (click)="c('Save click');saveUpdate()">Save</button>
    </div>
</ng-template>
<!-- End Update Vehicle Model -->
<!-- Start Add New Vehicle Model -->
<ng-template #addVehicleModel let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> <span>Update Vehicle</span></h4>
        <a (click)="d('Cross click')"><i class="fa fa-window-close" aria-hidden="true"></i></a>
    </div>
    <div class="model-body">
        <form [formGroup]="vehicleForm">
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">id</label>
                <div class="col">
                    <input class="form-control" readonly formControlName="id">
                </div>

            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Title</label>
                <div class="col">
                    <input class="form-control" formControlName="title">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col">
                    <input class="form-control" formControlName="description">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Daily Price</label>
                <div class="col">
                    <input class="form-control" formControlName="dailyPrice">

                </div>

            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">First Circulation</label>
                <div class="col">
                    <input class="form-control" type="date" formControlName="dateFirstCirculation">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Number Of Km</label>
                <div class="col">
                    <input class="form-control" formControlName="nbrOfKm">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Franchise</label>
                <div class="col">
                    <input class="form-control" formControlName="franchise">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Model</label>
                <div class="col">
                    <input class="form-control" formControlName="model">

                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Office Id</label>
                <div class="col">
                    <input class="form-control" formControlName="officeId">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Category Id</label>
                <div class="col">
                    <input class="form-control" [(ngModel)]="categoryId" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="m-3 form-check form-switch">
                <input class="form-check-input form-control" formControlName="available" type="checkbox" role="switch"
                    id="flexSwitchCheckDefault">
                <label class="form-check-label " for="flexSwitchCheckDefault">Check Availability </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" href="/vehicles" class="btn btn-outline-dark"
            (click)="c('Save click');saveVehicle()">Save</button>
    </div>
</ng-template>
<!-- End  Add New Vehicle Model -->

<!-- Start Update Vehicle Model -->
<ng-template #imageModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"> <span>Add  Image</span></h5>
        <a (click)="d('Cross click')"><i class="fa fa-window-close" aria-hidden="true"></i></a>
    </div>
    <div class="model-body">
        <div class="mb-3">
            <label class="form-label mx-3">Image</label>
            <input type="file" (change)="changeImage($event)" id="">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click');addImage()">Save</button>
    </div>
</ng-template>
<!-- End Update Vehicle Model -->




<!-- Toaster -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<!-- Loader -->
<ng-template #loader >
    <button class="btn btn-primary bg-gradient-primary" type="button" disabled
        style="margin-left: calc( 50% - 52px / 2)">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</ng-template>