<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex">
                        <h6 class="text-white text-capitalize ps-3">Orders Table</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                        Order id
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center ">
                                        PickUpDate</th>
                                    <th
                                        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center ">
                                        Duration</th>
                                    <th
                                        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center ">
                                        OfficeId</th>
                                    <th
                                        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center ">
                                        VehicleId</th>
                                    <th
                                        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center ">
                                        Total Price</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xs font-weight-bolder text-center opacity-7">
                                        Confirmed</th>
                                        <th
                                        class="text-center text-uppercase text-secondary text-xs font-weight-bolder text-center opacity-7">
                                        Payement</th>
                                    <th class="text-uppercase  opacity-7">
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="orders">
                                <tr *ngFor="let order of orders| slice: (page-1) * pageSize : page * pageSize;let i = index">
                                    <td>
                                        <div class="d-flex px-2 py-1 ">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm ">{{order.id}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs text-center font-weight-bold mb-0">{{order.pickUpDate|date}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-center font-weight-bold mb-0">{{order.duration}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-center font-weight-bold mb-0">{{order.officeId}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-center font-weight-bold mb-0">{{order.vehicleId}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-center font-weight-bold mb-0">
                                            {{order.totalPrice|currency}}
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm "
                                            [ngClass]="order.confirmed==true?'bg-gradient-success':'bg-gradient-primary'">
                                            <span *ngIf="order.confirmed">confirmed</span>
                                            <span *ngIf="!order.confirmed">unconfirmed</span>
                                        </span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm "
                                            [ngClass]="order.paid==true?'bg-gradient-success':'bg-gradient-primary'">
                                            <span *ngIf="order.paid">paid</span>
                                            <span *ngIf="!order.paid">upaid</span>
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a class="btn btn-link text-dark px-3 mb-0" (click)="open(ordersModal,order)">
                                            <i class="material-icons text-sm me-2">edit</i>
                                        </a>
                                        <a class="btn btn-link text-danger text-gradient px-3 mb-0">
                                            <i class="material-icons text-sm me-2"
                                                (click)="deleteOrder(order.id)">delete</i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col col-12 mx-auto d-flex justify-content-center" >
    <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="orders.length"></ngb-pagination>

</div>

<!-- Start orders modal  -->
<ng-template #ordersModal let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"> <span>Update Order</span></h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="model-body">
        <form [formGroup]="orderForm">
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col">
                    <input class="form-control" readonly formControlName="id">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">PickUpDate</label>
                <div class="col">
                    <input class="form-control" type="date" formControlName="pickUpDate">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Duration</label>
                <div class="col">
                    <input class="form-control" type="number" formControlName="duration">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Office Id</label>
                <div class="col">
                    <input class="form-control" type="number" formControlName="officeId">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Vehicle Id</label>
                <div class="col">
                    <input class="form-control" type="number" formControlName="vehicleId">
                </div>
            </div>
            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">Total Price</label>
                <div class="col">
                    <input class="form-control" type="number" formControlName="totalPrice">
                </div>
            </div>

            <div class="m-3 row d-flex">
                <label class="col-sm-4 col-form-label">pickUpDate</label>
                <div class="col">
                    <input class="form-control" type="number" formControlName="customerId">
                </div>
            </div>
            <div class="m-3 row form-check form-switch">
                <input class="form-check-input form-control"  formControlName="paid" type="checkbox" role="switch"
                    id="flexSwitchCheckDefault">
                <label class="form-check-label " for="flexSwitchCheckDefault">check confirmation </label>
                <input class="form-check-input form-control"  formControlName="confirmed" type="checkbox" role="switch"
                    id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">check payment </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click');updateOrder()">Save</button>
    </div>
</ng-template>
<!-- End orders modal  -->
